<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
      .page-header {
        background-image: linear-gradient(120deg, #ba1d22, #7164e0);
      }
      .main-content h1 {
        color: #555555;
        font-size: 1.5em;
      }
      .main-content h2 {
        font-size: 1.3em;
      }
      .site-footer-credits {
        font-size: 0.9em;
      }
    </style>
  </head>
  <body>
    <section class="page-header">
      <a href="http://commandpost.io"><img src="http://commandpost.io/assets/images/CommandPost_Icon_128@2x.png" width="150px" height="150px" /></a>
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="https://github.com/CommandPost/CommandPost/releases/latest" class="btn" id="download-link">Download</a>
      <a href="https://www.facebook.com/groups/commandpost/" class="btn" id="join-beta">Join Beta Group</a>
      <a href="http://help.commandpost.io/" class="btn" target="_blank">User Guide</a>
      <a href="http://dev.commandpost.io/" class="btn" target="_blank">Developer Guide</a>
    </section>

    <section class="main-content">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-credits">This page was <a href="https://github.com/CommandPost/CommandPost-Website">created</a> using <a href="https://pages.github.com">GitHub Pages</a>. If you notice a mistake please <a href="https://github.com/CommandPost/CommandPost-Website/issues">submit an issue</a>.</span>
	<p style="font-size: 10px;">Apple, macOS, Final Cut Pro and Final Cut are trademarks of Apple, Inc., registered in the U.S. and other countries. Adobe, Premiere Pro and After Effects are either registered trademarks or trademarks of Adobe Systems Incorporated in the United States and/or other countries. All other trademarks are properties of their respective owners.</p>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
		<script type="text/javascript">
			$(document).ready(function () {
				GetLatestReleaseInfo();
			});

			function GetLatestReleaseInfo() {
				$.getJSON("https://api.github.com/repos/CommandPost/CommandPost/releases").done(function (release) {

					console.log("Release:");
					console.log(release);

					var latestRelease = release[0];
					console.log("Latest Release:");
					console.log(latestRelease);

					var asset = latestRelease.assets;
					var downloadCount = 0;
					for (var i = 0; i < release.assets.length; i++) {
						downloadCount += release.assets[i].download_count;
					}
					var oneHour = 60 * 60 * 1000;
					var oneDay = 24 * oneHour;
					var dateDiff = new Date() - new Date(asset.updated_at);
					var timeAgo;
					if (dateDiff < oneDay)
					{
						timeAgo = (dateDiff / oneHour).toFixed(1) + " hours ago";
					}
					else
					{
						timeAgo = (dateDiff / oneDay).toFixed(1) + " days ago";
					}
					var releaseInfo = release.name + " was updated " + timeAgo + " and downloaded " + downloadCount.toLocaleString() + " times.";
					$("#download-link").attr("href", asset.browser_download_url);
					$("#download-text-link").attr("href", asset.browser_download_url);
					$(".release-info").text(releaseInfo);
					$(".release-info").fadeIn("slow");
				});
			}
		</script>
  </body>
</html>
